<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <style>
            table {
              width: 80%;
              border: 1px solid #444444;
              border-collapse: collapse;
            }
            th,td{
                border: 1px solid #444444;
                width: 200px;
            }
            td.contents {
                height: 500px;
            }
            form{
                display: inline;
            }
          </style>
    </head>
    <body>
        <table>
            <tr>
                <th>제목</th><th>{{article.article_title}}</th>
            </tr>
            <tr>
                <td colspan="2">글쓴이 : {{article.article_writer}} 작성일자 : {{article.article_time}}
            </tr>
            <tr>
                <td class="contents" colspan="2">{{article.article_contents}}</td>
            </tr>
        </table>
        <br>
        <form action="/change_article" method="post">
            <input type="submit" value="수정">
            <input type="hidden" value="{{article.article_number}}" name="article_num">
        </form>
        <form action="/delete_article" method="post">
            <input type="submit" value="삭제">
            <input type="hidden" value="{{article.article_number}}" name="article_num">
        </form><br>
        <a href="/board">게시판으로 가기</a>
    </body>

</html>